@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80vw;
}

.topLeft {
  width: 50%;
}

.topRight {
  width: 50%;
}

.section1 {
  max-height: 100vh;
}

.logo {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.gymImage {
  width: 466px;
}

.section1 h1 {
  font-size: 2rem;

}

.section2 p {
  padding: 0 8vw;
  text-align: center;
}

.ubuntu {
  font-family: sans-serif;
}

.section2 h1 {
  font-family: sans-serif;

  font-size: 3rem;
}

.section2 {
  padding-left: 63px;
  padding-right: 63px;
}

.box {
  padding: 8px 0px;
  margin: 12px 12px;
  min-width: 20vw;
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
}
.highlighted {
  font-size: 1.1rem;
  font-weight: bolder;
}

.box h2 {
  font-size: 2rem;
  padding: 14px;
}

.box ul {
  list-style: none;
}

.box ul li {
  margin: 12px 2px;
}

.section3 table {
  width: 100%;
  margin-bottom: 130px ;
  border-collapse: collapse;
}

section3 h1 {
  font-size: 2rem;
}

.section3 {
  padding-left: 63px;
  padding-right: 63px;
}

.section3 table th {
  width: 23 vw;
  border-bottom: 2px solid black;
  padding: 15px 0px;
}

.section3 table td {

  border-bottom: 2px solid black;
}

.section3 table th{

    padding:15px;
}

.bg-change{

    background-color: grey
}

#first{

    background-color: pink ;
}

